/************************ CSS 样式初始化 Start ************************/
html, body, div, span, object, iframe,h1, h2, 
h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, 
em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, 
ol, ul, li,fieldset, form, label, legend,table, caption, tbody, 
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption, 
figure, footer, header, hgroup, menu, nav, section, summary,time, mark, 
audio, video {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;/*所有元素放在父元素的基准线上*/background:transparent;/*背景透明*/outline-style:none;/*FF*//*元素轮廓样式*/}
body {line-height:1;}
a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;color:#000;color:inherit;outline:none;}
a:hover, a:focus{text-decoration:none;outline-style:none;}
table {border-collapse:collapse;/*边框合并*/border-spacing:0;/*单元格边框距离*/}
input, select, img {vertical-align:middle;/*中间基准线对齐*/}
ul, ol, dl{list-style:none;}
/************************ CSS 样式初始化 End ************************/
